.demo_container{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.arrow_right{
  /* background-image: url(../../../public/right.svg); */
  width: 100px;
  height: 100px;
}

.btn_play{
  width: 100px;
  height: 100%;
  top:0px;
  position: absolute;
  z-index: 11; 
  box-sizing: border-box;
  display:block;
  border: none;
  border-right: 2px solid black;
  border-radius: 0px;
	line-height: 20px;
	text-align:center;
	text-decoration:none;
	background-color: rgba(0,0,0,0.5);
	font-size:125%;
	font-weight:bold;
	transition: height 0.1s ease, top 0.1s ease;
}

.played{
  height: 100px;
  top: 160px;
  left: 25px;
  border: 6px solid #fff;
  border-radius: 50%;
}

.btn_play:hover {
	background-color: rgba(0,0,0,0.8);
	box-shadow: 0px 0px 10px rgb(102, 126, 136);
  text-shadow: 0px 0px 10px rgba(102, 126, 136);
  color:rgba(193, 210, 218);
  border-color: rgba(0,0,0,0.5);

}
.btn_play:focus {
  color:rgba(193, 210, 218);
  border-color: rgba(0,0,0,0.5);
}