/* .ant-pagination-item-active {

  border-color: #50cfc9;
}

.ant-pagination-item:focus-visible, .ant-pagination-item:hover {
  border-color: #50cfc9;
  transition: all 0.3s;
}

.ant-pagination-item-active a {
  color: #50cfc9;
}

.ant-pagination-item a:hover {
  color: #50cfc9;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link, .ant-pagination-next:focus-visible .ant-pagination-item-link, .ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
  color: #50cfc9;
  border-color: #50cfc9;
} */